# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
results
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
bin
build/_output
.DS_Store

.build-harness-bootstrap

build-harness
build-harness-extensions/

OPENSOURCE.check

default-kubeconfigs/*
kubeconfigs/*

# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions


multicloud-operators-channel
multicloud-operators-subscription
multicloud-operators-subscription-release
multicloud-operators-placementrule
multicloud-operators-application
